#day{
    font-size: 30px !important;
}
#day >p{
    float: left !important;
}
#zegar{
    font-size: 50px !important;
}
#zegar >h1{
    font-size: 100px;
}
#zegar >h1 > span{
    font-size: 30px !important;
    font-weight: 300 !important;

}