*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.PageMain{
    background-image: url("../assets/17.png");
    background-size: cover;

}
.MainInnerwrapper{
    min-height: 100vh;
    width:80%;
    color:whitesmoke;
    margin: 0px, auto ;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0 auto; */
}
.mainTop{
    font-size: 14px;
}
.Topsentence{
    font-weight: 300;
    width: 60%;
    min-width: 300px;
}
.Topauthor{
    font-weight: 700;
}
.mainBottom >h1{
    font-size: 110px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    display:flex;
    flex-direction:row ;
}
#day{
    font-size: 30px;
}
#zegar{
    font-size: 70px;
}
.mainBottom >h1 > span{
    font-size: 30px;
    font-weight: 300;

}
.mainBottom >h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400 ;
}
